/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
